p{
	margin:2px;
	padding:8px;
}
#stage-title {
    font-family:sans-serif;
		text-align:center;
		position:relative;
		top:45%;
		
}
#gitdisclamer{
	font-family:sans-serif;
	text-align:center;
}
#img-top{
    background-image:linear-gradient(to bottom right, white, blue);
    width:100vw;
    height:45vh;
}
body {
	margin:0px;
	font-family:sans-serif;
}
