body{
  font-family:sans-serif;
  background-color:rgb(77, 77, 77);
}
.tab{
  font-family:georgia;
  margin:0;
  padding:0.1vw;
  border:1px black solid;
  overflow:hidden;
  width:8vw;
  background:white;
  
}
#page-content{
  background-color:rgb(77, 77, 77);
}
textarea {
  resize: none;
}
